*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  /* Colours */
  --font-color-light: #e3e3e3;
  --font-color-mid: #616161;
  --font-color-dark: #475467;

  --hover-state: #f7f7f7;
  --pressed-state: #f0f0f0;
  --focused-state: #005bd3;

  --stroke-50: #ebebeb;
  --stroke-100: #00000012;
  --stroke--200: #ffffff33;

  --bg-primary: #f1f1f1;
  --bg-white: #ffffff;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

ul,
li {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

.navigation {
  background-color: #1c181d;
  display: flex;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  position: relative;
}

.navigation__logo-desktop {
  display: none;
}

.navigation__search {
  position: relative;
}

.navigation__search input {
  height: 32px;
  padding: 8px 8px 8px 40px;
  background-color: #303030;
  border: 1px solid var(--stroke--200);
  width: 100%;
  border-radius: 8px;
}

.navigation__search input::placeholder {
  color: #b5b5b5;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
}

.navigation__search-icon {
  position: absolute;
  top: 0px;
  left: 12px;
}

.navigation__search-icon svg {
  width: 15px;
  color: #b5b5b5;
}

.navigation__profile {
  display: flex;
  gap: 8px;
}

.navigation__profile-bell {
  background-color: #322f33;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
}

.navigation__profile-bell:hover {
  background-color: #656266;
}

.navigation__profile-bell svg {
  width: 20px;
  height: 20px;
}

.navigation__profile-name {
  display: flex;
  background-color: #322f33;
  border-radius: 8px;
  padding: 8px;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

.navigation__profile-name:hover {
  background-color: #656266;
}

.navigation__profile-name:hover
  .navigation__profile-name--initials
  .navigation__profile-name--initials-text {
  transform: translateY(2px);
}

.navigation__profile-name--text {
  font-size: 12px;
  font-style: normal;
  color: var(--font-color-light);
  font-weight: 500;
  margin-right: 8px;
  line-height: 130%;
  display: none;
}

.navigation__profile-notification {
  position: absolute;
  padding: 8px 0px;
  background-color: var(--bg-white);
  top: 100%;
  right: 2%;
  transform: translate(2%, 2%);
  z-index: 5;
  border-radius: 14px;
  border: 1px solid #dbdbdb;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  display: none;
}

.navigation__profile-notification.active {
  display: block;
}

.navigation_profile-notification.active {
  display: block;
}

.navigation__profile-notification-profile {
  width: 320px;
}

.navigation__profile-notification--container {
  padding: 0px 8px;
}

.navigation__profile-notification--container.border-top {
  border-top: 1px solid #e1e1e1;
}

.navigation__profile-name.alt {
  background-color: var(--bg-primary);
  justify-content: space-between;
  align-items: center;
}

.navigation__profile-name--initials {
  border-radius: 6px;
  background: #36fba1;
  padding: 5px;
}

.navigation_profile-name--group-1 {
  display: flex;
  gap: 8px;
  align-items: center;
}

.navigation__profile-name--text.alt {
  font-size: 13px;
  font-weight: 600;
  color: #303030;
}

.navigation__profile-name--icon-check {
  color: #4a4a4a;
}

.navigation__profile-items {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.navigation__profile-items.heading ul li a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navigation__profile-items.heading svg {
  color: #4a4a4a;
  width: 20px;
  height: 20px;
}

.navigation__profile-items ul {
  list-style: none;
}

.navigation__profile-items ul li {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  border-radius: 6px;
}

.navigation__profile-items ul li a {
  color: #303030;
  cursor: pointer;
  border-radius: 6px;
  display: inline-block;
  padding: 8px;
  width: 100%;
}

.navigation__profile-items span {
  padding: 8px 8px 2px 8px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  display: block;
}

.navigation__profile-items small {
  display: block;
  padding: 2px 8px 8px 8px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
}

.navigation__profile-items ul li:hover {
  background-color: var(--bg-primary);
}

.navigation__profile-items ul li a:focus {
  border: 2px solid var(--focused-state);
}

.navigation__profile-notification-alert {
  position: absolute;
  padding: 16px;
  background-color: var(--bg-white);
  top: 100%;
  right: 8%;
  transform: translate(2%, 5%);
  z-index: 5;
  border-radius: 14px;
  border: 1px solid #dbdbdb;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  width: 90%;
  display: none;
}

.navigation__profile-notification-alert.active {
  display: block;
}

.navigation__profile_notification_alert-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation__profile_notification_alert-heading h2 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
}

.navigation__profile_notification_alert-heading span {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navigation__profile_notification_alert-content {
  background-color: var(--bg-primary);
  padding: 16px;
  margin-top: 16px;
}

.navigation__profile_notification_alert-content p {
  font-size: 13px;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
}

main {
  padding-top: 5rem;
  height: 100%;
  background-color: var(--bg-primary);
}

.main__container {
  padding-left: 0;
  padding-right: 0;
}

.alert__container {
  position: relative;
}

.alert {
  background-color: #1a1a1a;
  padding: 12px 8px 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -130%);
  width: 100%;
}

.alert__content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-right: 8px;
}

.alert__content-text {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  color: var(--font-color-light);
}

.alert__content-btn {
  background-color: var(--bg-white);
  border-radius: 6px;
  padding: 6px 12px;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
}

.alert__close {
  background-color: transparent;
}

.alert__close svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.main__content {
  margin-top: 4rem;
  background-color: var(--bg-white);
  border: 1px solid #dbdbdb;
  padding: 18px;
}

.main__content-top {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.main__content-heading {
  font-style: normal;
  color: var(--font-color-dark);
}

.main__content-heading h2 {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  margin: 0;
}

.main__content-heading h4 {
  padding-top: 0.4rem;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
}

.main__content-toggle {
  padding: 4px;
  border-radius: 6px;
  cursor: pointer;
  background-color: transparent;
}

.main__content-toggle:hover {
  background-color: var(--hover-state);
}

.main__content-toggle svg {
  color: #4a4a4a;
  width: 20px;
  height: 20px;
  transition: transform 0.5s ease;
}

.main__content-toggle svg.close {
  transform: rotate(180deg);
}

.progress {
  margin-top: 1.2rem;
  display: flex;
  align-items: center;
  gap: 9px;
}

.progress__counter {
  display: flex;
  gap: 4px;
}

.progress__counter span {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: var(--font-color-dark);
}

.progress__bar {
  border-radius: 6px;
  overflow: hidden;
  background-color: #e3e3e3;
  width: 72px;
  height: 4px;
}

.progress__bar--progress {
  width: 10%;
  background-color: #1a1a1a;
  height: 4px;
}

.progress__bar--progress-1 {
  width: 20%;
}

.progress__bar--progress-2 {
  width: 40%;
}

.progress__bar--progress-3 {
  width: 60%;
}

.progress__bar--progress-4 {
  width: 80%;
}

.progress__bar--progress-5 {
  width: 100%;
}

.process {
  margin-top: 1.2rem;
}

.process__single {
  background-color: var(--bg-white);
  padding: 8px 8px 12px 8px;
  border-radius: 10px;
  margin-bottom: 0.6rem;
  cursor: pointer;
}

.process__single.active {
  background-color: var(--bg-primary);
  cursor: auto;
}

.process__single.active .process__single-content--main span {
  display: block;
}

.process__single .process__single-content--main span {
  display: none;
}

.process__single.active .process__single-content--image {
  display: block;
}

.process__single .process__single-content--image {
  display: none;
}

.process__single-icon {
}

.process__single-icon label {
  position: relative;
  width: 100%;
  max-width: 24px;
  height: 24px;
  cursor: pointer;
  flex-grow: 1;
}
.process__single-icon label:focus {
  outline: none;
  border: none;
}
.process__single-icon input {
  display: block;
  position: fixed;
  right: -10000000000vw;
}
.process__single-icon input + span > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, 0%);
}
.process__single-icon input + span > svg {
  opacity: 0;
}
.process__single-icon input + span > svg:nth-of-type(1) {
  animation-name: checkSvgAnimation;
  animation-duration: 70ms;
  animation-timing-function: linear;
  opacity: 1;
}
.process__single-icon input + span:hover > svg:nth-of-type(2) {
  opacity: 1;
}
.process__single-icon input:focus > span > svg:nth-of-type(5) {
  opacity: 1;
}
.process__single-icon input:checked + span > svg {
  animation-name: checkSvgAnimation;
  animation-duration: 100ms;
  animation-fill-mode: both;
}
.process__single-icon input:checked + span > svg:nth-of-type(1) {
  opacity: 0;
}
.process__single-icon input:checked + span > svg:nth-of-type(2) {
  animation-delay: 50ms;
}
.process__single-icon input:checked + span > svg:nth-of-type(3) {
  animation-delay: 150ms;
}
.process__single-icon input:checked + span > svg:nth-of-type(4) {
  animation-delay: 230ms;
}
.process__single-icon input:checked + span > svg:nth-of-type(5) {
  animation-delay: 300ms;
}
.process__single-icon input:checked + span > svg:nth-of-type(6) {
  animation-delay: 380ms;
}
.process__single-icon input:checked + span > svg:nth-of-type(7) {
  animation-delay: 450ms;
}
.process__single-icon input:checked + span > svg:nth-of-type(8) {
  animation-delay: 520ms;
}
.process__single-icon input:checked + span > svg:nth-of-type(9) {
  animation-delay: 600ms;
}
.process__single-icon input:checked + span > svg:nth-of-type(10) {
  animation-delay: 700ms;
  opacity: 1;
}
@keyframes checkSvgAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.process {
  height: 0;
  transition: height 0.5s ease;
  overflow: hidden;
}

.process.active {
  height: 400px;
}

.process__single-content {
  display: flex;
  justify-content: space-between;
}

.process__single-content--main {
  margin-left: 35px;
}

.process__single-content--main h2 {
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4;
  margin-top: 0.2rem;
}

.process__single-content--main p {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
  color: var(--font-color-mid);
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.process__single-content--main a {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
  display: inline;
}

.process__single-content-button--group {
  display: flex;
  gap: 6px;
  margin-top: 1rem;
}

.process__single-content--button {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3;
  background-color: #404040;
  padding: 6px 12px;
  color: var(--bg-white);
  border: 1.5px solid var(--stroke-50);
  border-radius: 6px;
  cursor: pointer;
}

.process__single-content--button-alt {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3;
  background-color: var(--white);
  padding: 6px 12px;
  color: #323232;
  cursor: pointer;
  border: none;
}
/*#######################################*/
/*############# RESPONSIVENESS #############*/
/*#######################################*/

/*
 * ------------------------------------------
 * Responsive Grid Media Queries - 1280, 1024, 768, 480
 * 1280-1024 - desktop (default grid)
 * 1024-768 - tablet landscape
 * 768-480 - tablet
 * 480-less - phone landscape & smaller
 * --------------------------------------------
 */

/* Default styles for all screen sizes */

/* Desktop (1280px and above) */
@media only screen and (min-width: 1280px) {
  /* Styles for desktop screens go here */
  .navigation__logo-desktop {
    display: block;
  }

  .navigation__logo-mobile {
    display: none;
  }

  .navigation__search input {
    width: 480px;
  }

  .navigation__profile-name--text {
    display: block;
  }

  .navigation__profile-notification {
    width: 320px;
  }

  .navigation__profile-notification-alert {
    top: 100%;
    right: 2%;
    transform: translate(2%, 5%);
    width: 383px;
    /* display: none; */
  }

  .main__container {
    padding-left: 22rem;
    padding-right: 22rem;
  }

  .process__single-content--main {
    width: 60%;
  }

  .main__content {
    margin-top: 1.5rem;
    border-radius: 18px;
  }

  .alert {
    border-radius: 8px;
  }
}

/* Tablet Landscape (1024px - 768px) */
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  /* Styles for tablet landscape screens go here */
}

/* Tablet (768px - 480px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles for tablet screens go here */
}

/* Phone Landscape & Smaller (480px and below) */
@media only screen and (max-width: 768px) {
  /* Styles for phone landscape and smaller screens go here */
  .alert__content {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .alert {
    align-items: start;
  }
}
